<html>
<body>
<p>Hello dear user,</p>
<p>Please complete the following form to validate your account</p>
<form action="localhost:3000/send/validation" method="get">
    <label for="userValidationEmail">E-mail</label>
    <input type="text" id="userValidationEmail" name="input1" required>
    <br>
    <label for="userValidationPassword">Password</label>
    <input type="text" id="userValidationPassword" name="input2" required>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>